body,html{
    overflow-x:hidden;
    font-family: 'Montserrat', sans-serif;
}
#vertical-rule{
    border-left: 1px solid black;;
}
//navbar

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
}


.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(255,255,255);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(255,255,255);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    
    .nav-links {
        position: fixed;
        right: 0px;
        height: 76vh;
        top: 9vh;
        background-color:rgb(3, 198, 252);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }
    .logo img{
        width: 170px !important;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


.no-margins{
    margin:0px;
}
#authors{
    margin-bottom: 6rem;
    img{
        margin-top:-50px;
    }
    .card:hover{
        background-color: rgb(3, 198, 252);
        color:#fff;
        .fab{
            color:white;
        }
    }
    .fab{
        color:#3498db;
        transition: 0.4s linear;
    }
    .fab:hover{
        transform:scale(.8);
    }
}
//kontakt submission
#status{
    text-align:center;
    padding:1rem;
    border-radius: 9px;
    margin-top:2rem;
    color:white;
}
#status.submited{
    background-color: rgb(12, 192, 18);
    animation: status 5s ease forwards;
}
#status.errorek{
    background-color: rgba(236, 55, 0, 0.925);
    animation: status 5s ease forwards;
}
@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}
// cookies
.cookie-container{
    position:fixed;
    bottom:-100%;
    left:0;
    background-color: #2f3640;
    color: #f5f6fa;
    box-shadow: 0 -2px 16px #2f3640;
    min-height: 4rem;
    transition: 400ms;

}
#cookie-btn{
    cursor:pointer;
}
.fas .fa-times{
    height:3rem !important;
    width: 3rem !important;
}
.cookie-container.active{
    bottom:0;
}
//fancy input

.form{
    width:100%;
    height: 60px;
    position: relative;
    overflow: hidden;
    
}
.form input{
    width: 100%;
    height: 100%;
    padding-top: 10px;
    border: none;
    outline: none;
    
}
.form label{
    position: absolute;
    bottom:0px;
    left:0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom:1px solid black;
}
.form label::after{
    content:"";
    position: absolute;
    left:0px;
    bottom:-1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: all 0.3s ease-in;
}
.content-name{
    position: absolute;
    bottom:5px;
    left:0px;
    transition: all 0.3 ease-in;
}
.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name{
    transform:translateY(-150%);
    font-size: 14px;
    color:#5fa8d3;
}
.form input:focus + .label-name::after,
.form input:valid + .label-name::after{
    transform:translateX(0%);
}


nav{
    z-index: 5 !important;
}

hr{
    
    opacity:1;
}

//fancy button

.custom-button{
    border:2px solid rgb(3, 198, 252);
    background:none;
    padding:10px 20px;
    font-size:1.5rem;
    cursor:pointer;
    transition:0.8s;
    width: 100%;
    font-family: 'Imbue', serif;
    position:relative;
    overflow:hidden;

}
.custom-button:hover{
    color:#fff !important;
}
.custom-button::before{
    content:'';
    position: absolute;
    left:0;
    width: 100%;
    height: 0%;
    background: rgb(3, 198, 252);
    z-index: -1;
    transition: 0.8s;
    top:0;
    border-radius: 0 0 50% 50%;
}
.custom-button:hover::before{
    height: 180%;
}

.navbar-toggler{
    z-index: 999;
}
// sliding thing
.intro{
    background:rgb(3, 198, 252);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    
}
.intro-text{
    color:rgb(233,233,233);
    font-size:3rem;
}
.slider{
    background:#fff;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform: translateY(100%);
    z-index: 7;
}
.hide{
    background:rgb(3, 198, 252);
    overflow: hidden;
}
.hide span{
    transform:translateY(100%);
    display: inline-block;
}
.fade-in{
    opacity:0;
    transition:opacity 250ms ease-in;
}
.appear{
    opacity: 1 !important;
    transform: translateX(0) !important;
}
.from-left{
    transform: translateX(-50%);
    transition: opacity 250ms ease-in,transform 400ms ease-in;
    opacity: 0;
}
.from-right{
    transform: translateX(50%);
    transition: opacity 250ms ease-in,transform 400ms ease-in;
    opacity: 0;
}
#waves{
    position:relative;
}
#main-button{
    position:absolute;
    top:70vh;
    left:42% !important;
    border-radius:3rem;
    
}
#main-text{
    position: absolute;
    color:#fff900;
    font-weight: 100;
}
#main-para{
    position: absolute;
    color:white;
    font-size:2.5rem;
    font-weight: 100;
}

.custom-shape-divider-bottom-1610023239 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1610023239 svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 89px;
}

.custom-shape-divider-bottom-1610023239 .shape-fill {
    fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1610023239 svg {
        width: calc(132% + 1.3px);
        height: 62px;
    }
}

.navbar-light .navbar-nav .nav-link{
    color:white;
}
.nav-scrolled{
    background-color:rgb(3, 198, 252) !important;
    transition:background-color 300ms ease-in;
    box-shadow:2px 2px 5px black;
}

#titi{
    color:black;
    border-color:black;
    background-color:white
}
#togi{
    
    border:none;
    padding:4.8px 0 0 8px;
    font-size:1.5rem;
    color: white;
    cursor:pointer;
    
}
.primary-overlay{
    background: rgba(50,146,166,0.35);
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 90vh;
}
.navbar-light .navbar-toggler{
    color:black;
}
h3{
    font-weight: 100;
    padding-left:0.5rem;
    padding-top:0.3rem;
}
.fab,
.fas,
.far{
    font-size:1.6rem;
}
// hover social media
.social-hov{
    transition: 0.4s linear;
}
.social-hov:hover{
    transform:scale(0.8);
}
//end
#policy-link{
    color:white;
}
#contact-logo{
    
    color:rgb(3, 198, 252);
    font-family: 'Imbue', serif;
}
#main-footer{
    background-color: rgb(3, 198, 252);
}
#hero{
    background-image: url(../img/fizjo.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height:90vh;
    background-attachment: fixed;
}
.trans{
    background-color: transparent;
    transition:background-color 300ms ease-in;
}
@media(max-width:577px){
    hr{
        display:none;
    }
    #contact-logo{
        text-decoration: underline;
        font-size:3rem;

    }
    #main-button{
        left:27% !important;
    }
}
@media(min-width:577px)and(max-width:768px){
    #contact-logo{
        font-size:2.1rem !important;
    }
    #main-button{
        left:30% !important;
    }
    
}
@media(max-width:768px){
    #main-nav{
        height: 6.5rem;
    }
    #main-text{
        font-size:2.5rem;
        top:40vh;
    }
    #main-para{
        font-size:1.8rem;
        top:46vh;
    }
    #main-button{
        top:60vh;
        left:37%;
    }
    .navbar{
        padding-top:0.8rem !important;
    }
    #cookie-btn{
        width:4rem;
        height: 3rem;
        font-size: 0.6rem;
    }
    .cookie-container{
        min-height: 2.6rem;
        p{
            font-size:0.7rem;
        }
    }
    #contact-info{
        text-align:center;
    }
    .navbar-collapse{
        position:fixed;
        width: 100%;
        left:0;
        top:0;
        background-color: #3498db;
        padding-top:3rem;
        padding-bottom:3rem;
        font-size: 2rem;
        opacity:0.7s;
    
    }
    .custom-button{
        width: 50%;
    }
    #hero{
        background-position:left; 
        background-attachment:scroll; 
        -o-background-size:cover; 
        -moz-background-size:cover; 
        -webkit-background-size:cover; 
        background-size: cover;
    }

    
    
    
    
}
@media(min-width:768px) and (max-width:992px){
    .nav-item{
        padding-right:1.7rem;
        font-size:1.3rem;
    }
    #main-nav{
        height:6.5rem;
    }
    .navbar{
        padding-top:1.2rem !important;
    }
    #main-text{
        font-size:3.5rem;
        top:40vh;
    }
    #main-para{
        font-size:2.7rem;
        top:48vh;
    }
    #main-button{
        top:65vh;
        
    }
    #contact-logo{
        font-size:2.3rem !important;
    }
    
    
}
@media(min-width:992px) and (max-width:1200px){
    .nav-item{
        padding-right: 2.3rem;
        font-size:1.4rem;
    }
    #main-text{
        font-size:3.9rem;
        top:40vh;
    }
    #main-para{
        font-size:3.1rem;
        top:48vh;
    }
    #main-button{
        top:65vh;
    }
    #contact-logo{
        font-size:2.8rem !important;
    }
}
@media(min-width:1200px){
    .nav-item{
        padding-right: 2.8rem;
        font-size:1.5rem;
    }
    #main-text{
        font-size:4.2rem;
        top:40vh;
    }
    #main-para{
        font-size:3.2rem;
        top:49vh;
    }
    #main-button{
        top:65vh;
    }
    .cookie-container{
        font-size: 1.2rem;
        min-height: 3rem;
    }
    #contact-logo{
        font-size:3.1rem !important;
    }
    
}